body {
    margin: 0;
}

.header {
    padding: 7px 0;

}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #747779;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.button {
    padding: 10px 20px;
    background: #E8A0CE;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.button-icon {
    margin-right: 10px;
}

.slide {
    padding-top: 137px;
    padding-bottom: 163px;
}

.slide-1 {
    background: #FFFFFF url('../img/slide-image-1.png') no-repeat center top;
    background-size: contain;
    background-size: 100%;
}

.slide-titie {
    color: #252121;
    font-size: 55px;
    line-height: 70px;
    margin-top: 137;
    margin-bottom: 30px;
}

.slide-description {
    font-size: 23px;
    line-height: 30px;
    color: #000000;
    max-width: 335;
}

.slider {
    position: relative;
}

.slider-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.slider-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.card {
    min-height: 525px;
    background: #FFFFFF url('../img/card-image-1.png') no-repeat top;
    background-size: contain;
    margin-top: 50px;
}

.section-title {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    line-height: 30px;
    color: #262D33;
    margin-top: 84px;
    margin-bottom: 30px;
}

.goods-card {
    position: relative;
    border: 2px solid #CDC7C7;
    border-radius: 14px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 35px;
    min-height: 340px;
}

.goods-title {
    font-family: 'Roboto Slab', serif;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #262D33;
}

.goods-description {
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
}

.goods-price {
    font-size: 18px;
    line-height: 30px;
    color: #262D33;
    margin-top: 30px;
}

.footer {
    background: #634497;
    padding-top: 45px;
    padding-bottom: 45px;
    color: #FFF;
    margin-top: 70px;
}

.social-link {
    text-decoration: none;
    margin-left: 15px;
}

.footer-text {
    color: #E7D9FF;
    font-size: 14px;
    line-height: 20px;
}

.cart {
    min-height: 135px;
    background: #FFFFFF url('../img/image-inf.jpg') no-repeat top;
    background-size: contain;
    margin-bottom: 50px;
}